form
{
    z-index: 2;
    margin-top: 16%;
    margin-left: 45%;
}
form
{
    z-index: 2;
    margin-top: 130px;
    height: 390px;
    text-align: center;
    width: 50%;
    margin-left: 34%;
    border-radius: 45px;
    background: #e0e0e0;
    box-shadow:  21px 21px 33px #bababa, -21px -21px 33px #ffffff;
}
h2
{
    padding-top: 36px;
}
.btn
{
    width: 124px;
    margin-top: 37%;
    margin-left: 567%;
}
.btn:hover
{
    text-decoration: underline;
    color: blue;
}
.login
{
    flex-direction: column;
    display: flex;
}
.input {
    margin-left: 46px;
    width: 680px;
    margin-top: 40px;
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    background: #e8e8e8;
    box-shadow: 20px 20px 60px #c5c5c5,
           -20px -20px 60px #ffffff;
    transition: 0.3s;
   }
   
   .input:focus {
    outline-color: #e8e8e8;
    background: #e8e8e8;
    box-shadow: inset 20px 20px 60px #c5c5c5,
           inset -20px -20px 60px #ffffff;
    transition: 0.3s;
   }
button {
    z-index: 3;
    position: fixed;
    margin-left: -65px;
    margin-top: 93px;
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
   }
   
   button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   button:hover {
    color: #e8e8e8;
   }
   
   button:hover::before {
    width: 100%;
   }
table
{
    margin-top: 9rem;
    margin-left: 19rem;
}